
body {
    background-color: #ffffff;
}

header {

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-image: url(/assets/images/Fichier\ 16.png);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:#000000;

}


main {
    max-width: 100%;
    background: #FFFFFF;
    padding: 20px;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.9);
}


.section-blanche {
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    margin-bottom: 40px;
    margin-top: 35px;
    text-align: justify;

}

.section-beige {
    background-color: #F5F3EF;
    color: #000000;
    padding: 20px;
    margin-bottom: 40px;
    margin-top: 35px;
    
}


.section-blanche, .section-beige {
    border-radius: 0;
}


h1, h2, h3 {
    font-family: 'Futura Medium', sans-serif;
}

body, p, li {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 3em; 
    color: #333333; 
    text-align: center;
    font-weight: bold; 
    margin-bottom: 20px;
    margin-top:30px;
    margin-left: 0px;
}

p {
    font-size: 1em; 
    line-height: 1.6; 
    color: #333333; 
    margin-top: 40px;
    margin-bottom: 20px; 
    margin-left: 100px;
    margin-right: 100px;
    text-align: justify; 
}

h2 {
    font-size: 1.4em;
    color: #575757;
    border-bottom: 2px solid #F5F3EF;
    padding-bottom: 5px;
}

h3 {
    font-size: 1em;
    color: #575757;
}


#photo {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px;
    background: #ffffff;
    color: #000000;
    border-radius: 30px;
    margin-bottom: 30px;
    text-align: center;
    margin-right: 140px;
}

#photo div {
    width:50%;
 
}

#photo h1 {
    h1 {
        display: flex;
        justify-content:center;
        text-align: center; 
        font-size: 5em; 
        color: #000000; 
    }
}

#photo p {
    margin-top: 30px;
}

#myPhoto {
    width: 450px;
    margin-top: 30px;
    margin-right: 180px;
    margin-left: 100px;
}


#textePresentation {
    margin-left: 50px; 
}

#textePresentation h1 {
    font-size: 3em;
    color: #000000;
    text-align:justify;
    width: 50%; 
    margin-top: 0px; 
    padding-top: 10px; 
}

#textePresentation p {
    text-align:justify; 
    margin-top: 60px
}


nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    background-color: #F5F3EF;
    padding: 10px;
    border-radius: 5px;
}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
    padding: 8px 12px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #C6C6C6;
    background-color: #333333;
    border-radius: 3px;
}


#info {
    background: #F5F3EF;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    justify-content: space-between;
    margin-bottom:40px;
    margin-bottom: 40px;
}

#info ul {
    list-style: none;
    padding: 0;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

#info ul li {
    padding: 3px;
    
}


.burger-menu {
    position: absolute;
    top: 20px; 
    right: 20px; 
}

#menu-toggle {
    display: none;
}

.burger-icon {
    font-size: 2em;
    cursor: pointer;
}

.menu {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #c6c6c6;
    padding: 10px;
    border-radius: 5px;
}

.menu li {
    list-style: none;
    margin: 5px 0;
}

.menu a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
    padding: 8px 12px;
    transition: 0.3s;
    white-space: nowrap; 
}

.menu a:hover {
    color: #F5F3EF;
    background-color: #333333;
    border-radius: 3px;
}

#menu-toggle:checked + .burger-icon + .menu {
    display: flex;
}


.back-to-top {
    display: none; 
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333333;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.5em;
    z-index: 1000;
}

.back-to-top:hover {
    background-color: #555555;
}


.show-back-to-top {
    display: block;
}


footer {
    text-align: center;
    background-color: #ffffff;
    color: #FFFFFF;
    padding: 20px;
    margin-top: 40px;
    border-radius: 5px;
    height: 100px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
footer img {
    width: 250px; 
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    
    header {
      flex-direction: column-reverse;
      text-align: center;
      margin-bottom: 40px;
    }
    
   
    #myPhoto {
      width: 80%;
      max-width: 300px;
      margin: 20px auto;
      margin-top: 80px;
    }
    
   
    #textePresentation {
      width: 90%;
      margin: 0 auto;
      
    }
    
    
    nav ul {
      flex-direction: column;
      gap: 10px;
    }
    
    #info ul {
        flex-direction: column-reverse;
        text-align: justify
    }
   
    h1 {
      font-size: 2em;
    }
    
    p {
      font-size:1em;
    }
  }

