/* Ajout du fond global */
body {
    background-color: #ffffff; /* Fond global blanc */
    color: #040404;
    font-family: 'Roboto', 'Futura', sans-serif;
}

/* Structure générale du CV */
main {
    max-width: 100%;
    margin: 30px auto;
    background: #FFFFFF;
    padding: 20px;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Encadrement des sections */
.section-blanche {
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    margin-bottom: 20px;
}

.section-grise {
    background-color: #C6C6C6;
    color: #000000;
    padding: 20px;
    margin-bottom: 20px;
}

/* Enlever les bordures */
.section-blanche, .section-grise {
    border-radius: 0;
}

h2, h3 {
    font-family: 'Futura Medium', sans-serif;
}

h2 {
    font-size: 1.4em;
    color: #575757;
    border-bottom: 2px solid #C6C6C6;
    padding-bottom: 5px;
}

h3 {
    font-size: 1em;
    color: #575757;
}

/* Photo et présentation */
#photo {
    display: flex;
    justify-content:space-around;
    align-items: flex-start;
    padding: 20px;
    background: #ffffff;
    color: #000000;
    border-radius: 20px;
    margin-bottom: 30px;
    text-align: center;
}

#photo div {
    width:50%;
    border : 0px solid #000000;
}

#photo h1 {
    font-size: 2em;
    color: #000000
;
    text-align: center;
}

#photo p {
    margin-top: 10px;
}

#myPhoto {
    width: 350px; 
}

/* Navigation */
nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    background-color: #c6c6c6;
    padding: 10px;
    border-radius: 5px;
}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
    padding: 8px 12px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #C6C6C6;
    background-color: #333333;
    border-radius: 3px;
}

/* Informations de contact */
#info {
    background: #C6C6C6;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom:30px;
}

#info ul {
    list-style: none;
    padding: 0;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

#info ul li {
    padding: 3px;
    font-weight: medium;
}

/* Pied de page */
footer {
    text-align: center;
    background-color: #C6C6C6;
    color: #FFFFFF;
    padding: 20px;
    margin-top: 40px;
    border-radius: 5px;
}
